.ui-flex.container {
  padding: 10px 0;
}
.ui-card.questioncard {
  height: 200px !important;
  border-top: 2px solid #ffae00 !important;
  padding: 10px 20px !important;
  width: 25%;
}
.ui-text.question-text {
  padding: 5px 0 !important;
}
.question-title {
  padding: 10px 0 !important;
}
.ui-pill {
  margin: 0 !important;
  background-color: #ffae00 !important;
  color: #fff;
}

.red {
  color: #ff0000;
}

.green {
  color: rgb(0, 179, 54);
}