.ui-card {
  padding: 10px !important;
  background-color: rgb(237, 235, 233) !important;
}

.red {
  color: #ff0000;
}

.green {
  color: rgb(0, 179, 54);
}

.topcontrols {
  padding-bottom: 10px;
}
.topcontrols > .ui-datepicker {
  text-align: right;
}